@mixin bg-section($height, $top, $bottom, $image) {
  height: $height;
  bottom: $bottom;
  top: $top;
  background-image: url($image);
}

@mixin transition($property) {
  -webkit-transition: $property;
  transition: $property;
}

@mixin transform($property) {
  -webkit-transform: $property;
  transform: $property;
}

@mixin filter($property) {
  -webkit-filter: $property;
  filter: $property;
}

@mixin border-radius($property) {
  -webkit-border-radius: $property;
  border-radius: $property;
}

@mixin box-shadow($property...) {
  -moz-box-shadow: $property;
  -webkit-box-shadow: $property;
  box-shadow: $property;
}


@mixin responsive ($breakpoint) {
  @if $breakpoint == desktop {
    @media screen and (min-width: 37.5em) {
      @content
    };
  }
}
