// Colors
$color-primary: hsl(322, 100%, 66%);
$color-neutral-very-dark: hsl(192, 100%, 9%);
$color-neutral-very-pale: hsl(207, 100%, 98%);
$color-white: #fff;
$color-gray-1: rgba(0, 0, 0, .2);
$color-gray-2: rgba(0, 0, 0, .4);