/* ********** Body ********** */
body {
  font-size: 1.6rem;
  @include responsive(desktop) { font-size: 1rem;}
  font-family: 'Open Sans', sans-serif;
}

/* ********** Headings ********** */
.heading {
  font-family: 'Poppins', sans-serif;
}

.heading--1 {
  font-size: 2.6rem;
  margin: 2rem 0;
}

.heading--2 {
  font-size: 2.1rem;
  margin: 2rem 0;
}

.heading--3 {
  font-size: 1.8rem;
  margin: 1.2rem 0;
}

/* ********** Paragraphs ********** */
.paragraph { 
  line-height: 145%;

  &--title { 
    @include responsive(desktop) {
      width: 35rem;
      font-size: 1.1rem;
    }
  }

  &--footer { 
    @include responsive(desktop) {
      line-height: 165%;
      font-size: .9rem;  
      width: 70%;
      font-weight: lighter;
    }    
  }

  &--section { 
    @include responsive(desktop) {
      line-height: 165%;
      font-size: 1rem;
    }
  }
}
